<!DOCTYPE html>
<html lang="eng">
    <head>
    <meta charset="utf-8">

    <style>
        .Container-email, .Container-subject{
    
            height: 30px;
            background-color: gray;
            color: white;
            border: 1px solid black;
            margin-bottom: 16px;
        }

        .Container-content{

                    height: 90px;
                     background-color: gray;
            color: white;
            border: 1px solid black;

        }

    </style>


    </head>

    <body>
        <div class="Main-Div">
            <div class="Container-email">Email: {{email}}</div>
            <div class="Container-subject">Subject: {{subject}}</div>
            <div class="Container-content">Content: {{text}}</div>
        </div>
    

    </body>





</html>